.footer {
    background-color: var(--color-primary);
    color:var(--color-secondary);
}

.logo1{
    display: inline-block;
    width: 10vh;
    height: 10vh;
    margin-left: 5vh;
}

img{
    max-width: max-content;
    max-height: max-content;
}

.nav_items_list1{
    width: 100%;
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bolder;
    font-size: x-large;
}

.nav_items_list2{
    width: 100%;
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: lighter;
}

.nav_items_list3{
    width: 100%;
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: lighter;
}

.nav_items_list4{
    width: 100%;
    margin-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: lighter;
}