.main{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    background-color: var(--color-primary);
    color:var(--color-secondary);
}

.footer {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.logo1{
    display: inline-block;
    width: 10vh;
    height: 10vh;
    margin-left: 5vh;
}

img{
    max-width: max-content;
    max-height: max-content;
}

.menu_items_main{
    width: 80vw;
    margin-left: 10vw;
    display: flex;
    justify-content:space-between;
    align-items:baseline;
}
/* 
.nav_items_list1{
    width: 100%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    height: 15vh;
    justify-content: space-evenly;
    align-items: center;
    font-weight: lighter;
} */

.nav_items_list2{
    width: 100%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    height: 15vh;
    gap: 5px;
    justify-content: space-around;
    align-items: center baseline;
    font-weight: lighter;
}

.nav_items_list3{
    width: 100%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    height: 15vh;
    gap: 5px;
    justify-content: space-around;
    align-items: center baseline;
    font-weight: lighter;
}

.nav_items_list4{
    width: 100%;
    margin-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    height: 20vh;
    gap: 5px;
    justify-content: space-around;
    align-items: center baseline;
    font-weight: lighter;
}

.name{
    display: inline-block;
    width: 230px;
    font-size: xx-large;
    padding-left: 5vh;
    font-weight: bold;
}

.copyright{
    display: inline-block;
    width: 80%;
    padding-left: 35vh;
    margin-left: 14vw;
}