.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20vh;
    color:var(--color-primary);
}

.about_left {
    position: relative;
    left: 5vw;
    width: 35vw;
}
.about_right {
    width: 35vw;
    margin-right: 10vh;
}

.about_vedio {
    display: flex;
    gap: 15px;
    align-items: center;
}
